@font-face {
    font-family: poppins;
    src: url(fonts/Ubuntu-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.flex-container {
    display: flex;
    width: 100%;
    padding: 2% 4%;

}

.hiro-section {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}

.half-width {
    width: 50%;
    padding: 0 3%;
}

.half-width img {
    width: 80%;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 20px 0px;


}

.gold-color {
    color: #FFA500;

}

h3 {
    text-transform: capitalize;
    margin: 20px 0px;

}

.button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 20px;
}

.dream {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    padding: 2% 4%;
    margin: 100px 0px;
}